@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

body{

    background-color: #121212;
    color: #f0f0f0;
    line-height: 1.6;
    
}
header{
    background-color: #000000;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #ff6b6b;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    color: #ff6b6b;
    font-size: 1.8rem;
    cursor: pointer;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover{
    color: #ff6b6b;
}

section, main{
    padding: 80px 20px 40px 20px;
    text-align: center;
}

.Home{
    height: 100vh;
    background: url(/Img/Imagen-Vinilo.jpg);
    background: url(../Img/Imagen-Vinilo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home h1{
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px black;
}

.Home p{
    font-family: "Fleur De Leah", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#Registro{
    background-color: #1a1a1a;
}

.formulario{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.formulario p{
    margin-bottom: 12px;
}

.campo{
    margin-bottom: 10px;
}

label{
    display: block;
    margin-bottom: 10px;
    color: #ccc;
}

input{
    width: 100%;
    padding: 10px;
    background: #000;
    border: 2px solid #444;
    color: #fff;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}

select{
    width: 100%;
    padding: 10px;
    background: #1a1a1a;
    border: 2px solid #444;
    color: #fff;
    border-radius: 10px;
    outline: none;
}

input:focus, select:focus{
    border-color: #ff6b6b;
}

.boton{
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 4px solid #ff6b6b;
    color: #ff6b6b;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 12px;
}

.boton:hover{
    background-color: #ff6b6b;
    color: #000;
    box-shadow: 0 0 5px #ff6b6b, 0 0 5px #ff6b6b;
}
.cuadricula{
    display: flex;
    padding: 20px 0;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: space-around;
}

.card{
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
    transition: tranform 0.5 ease;
    text-align: center;
}

.card:hover{
    transform: translateY(-10px);
    border-color: #ff6b6b;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card h4{
    font-size: 1.2Rem;
    margin-bottom: 5px;
}

.genero{
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.Costo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.precio{
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

.botonvinil{
    background-color: #ff6b6b;
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.botonvinil:hover{
    background-color: #fff;
}

.btpag{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btpagpro{
    background-color: #ff6b6b;
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}